
.container-main{
    background-image: url("../register.jpg") ;
    background-repeat: no-repeat;
    height: 800px;
   
}

.top{
    background-color:lightblue;
    height: 50px;
    width: auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    font-size: large;
    
}
.form{
    margin-top: 50px;
    margin-left: 50px;
}

label{
    font-size: large;
}

.btn btn-primary{
    font-size: large;
}

.navbar{
    background-color: lightblue;
}